html, body{
	background-color:0084FF;
}

@media (min-width:320px){ 
	img{
		display:block;
		width:20%;
		margin-bottom:5em;
		margin:auto;
		padding:1em 0 1em 0;
	}
	p#title{
		font-family:'Actor',sans-serif;
		color:#ecf0f1;
		background-color:4CA9FF;
		font-size:2em;
		line-height:1.3em;
		width:66.667%;
		text-align:center;
		margin:auto;
		position:relative;
		padding:1.5em 3em 1.5em 3em;
		
	}
	
	p#description{
		font-family:'Actor',sans-serif;
		color:#ecf0f1;
		background-color:0069CC;
		line-height:1.5em;
		width:66.667%;
		margin:auto;
		font-size:1.2em;
		text-align:justify;
		position:relative;
		padding:1.5em 5em 1.5em 5em;
	}
	 form, label{
		font-family:'Actor',sans-serif;
		color:#ecf0f1;
		line-height:1.5em;
		width:66.6667%;
		text-align:center;
		margin:auto;
		font-size:1.2em;
		padding: 1em 0 1em 0;
	 }
	
	p#hidden{
		font-family:'Actor',sans-serif;
		position:fixed;
		right:0;
		width:25%;
		margin-top:5em;
		color:#0069CC;
	}
/*}*/
@media (min-width:481px) { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */


 }
@media (min-width:641px) { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 


}
@media (min-width:961px) { /* tablet, landscape iPad, lo-res laptops ands desktops */ 

}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ 


}
@media (min-width:1281px) { /* hi-res laptops and desktops */ 
/*
div#usglue-logo{
	margin-bottom:5em;
	margin:auto;
	width:15%;
}
p#title{
	font-family: 'Actor', sans-serif;
	font-size:1.5em;
	margin-bottom:1.5em;
	text-align:center;
	color:#ecf0f1;
	position:relative;
	
}

p#description{
		font-family: 'Actor', sans-serif;
		font-size:1.2em;
		line-height:1.3em;
		width:95%;
		max-width:40em;
		text-align:left;
		position:relative;
		margin-left:auto;
		margin-right:auto;
		color:#ecf0f1;
}
p#hidden{
	position:fixed;
	bottom:0em;
	right:1em;
	color:#c0392b;
}
form, label{
	margin-top:1em;
	font-family:'Oxygen',sans-serif;
	position:relative;
	color:#ecf0f1;
	font-size:1.1em;
	line-height:1.2em;
	text-align:center;
	
}
input[type=businessMail]{
	font-family:'Actor',sans-serif;
	font-size:1em;
	height:1em;
	width:15em;
	display:block;
}
img{
	display:block;
	margin:auto;
	max-width:100%;
}

button{
	margin:auto;
	font-family:'Actor',sans-serif;
	font-size:1em;
	text-align:center;
}
*/
}



