body{
	background-color: #c0392b;
	
}
div#usglue-logo{
	margin-bottom:1em;
}
p#title{
	font-family: 'Actor', sans-serif;
	font-size:1.5em;
	line-height:1em;
	margin-top:auto;
	text-align:center;
	color:#ecf0f1;
	position:relative;
	
}

p#description{
		font-family: 'Actor', sans-serif;
		font-size:1.2em;
		line-height:1.3em;
		width:95%;
		max-width:40em;
		position:relative;
		margin-left:auto;
		margin-right:auto;
		color:#ecf0f1;
}
p#hidden{
	position:relative;
	bottom:0em;
	right:1em;
	color:#c0392b;
}
form{
	margin-top:1em;
	font-family:'Oxygen',sans-serif;
	color:#ecf0f1;
	font-size:1.1em;
	line-height:1.2em;
	text-align:left;
	
}
label#businessMail{
	position:relative;
}

input[type=businessMail]{
	font-family:'Actor',sans-serif;
	font-size:1em;
	height:1em;
	width:15em;
	display:block;
}
img{
	display:block;
	margin:auto;
	max-width:100%;
}

button{
	margin:auto;
	font-family:'Actor',sans-serif;
	font-size:1em;
	text-align:center;
}